.container
{
    display: flex;
    justify-content: center;
    border: 1px solid;
    gap: 2em;
    
}
.content
{
    border: 1px solid;
    height: 50vh;
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data
{
    border: 1px solid red;
    margin-top: 24%;
    padding: 19px;
    width: 64%;
    
}